@model ProjectCMC_Web.Models.Trend

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trend</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Node.NodeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Node.NodeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReadingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReadingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F1Amp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F1Amp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F2Amp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F2Amp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F3Amp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F3Amp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F4Amp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F4Amp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F5Amp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F5Amp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F1Phase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F1Phase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F2Phase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F2Phase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F3Phase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F3Phase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F4Phase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F4Phase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F5Phase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F5Phase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F1HA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F1HA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F2HA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F2HA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F3HA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F3HA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F4HA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F4HA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F5HA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F5HA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F1HW)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F1HW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F2HW)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F2HW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F3HW)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F3HW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F4HW)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F4HW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F5HW)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F5HW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F1Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F1Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F2Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F2Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F3Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F3Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F4Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F4Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F5Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F5Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Speed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Speed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Process)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Process)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Digital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Digital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StorageReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StorageReason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BOV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TrendID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
