@model ProjectCMC_Web.Models.Node

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Node</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WindMill.WindMillName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WindMill.WindMillName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NodeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NodeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NodeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NodeDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NodeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
