@model IEnumerable<ProjectCMC_Web.Models.Node>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WindMill.WindMillName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NodeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NodeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WindMill.WindMillName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NodeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NodeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NodeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NodeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NodeID })
        </td>
    </tr>
}

</table>
