@model ProjectCMC_Web.Models.WindMill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WindMill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WindPark.WindParkName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WindPark.WindParkName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WindMillName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WindMillName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManufacturerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManufacturerName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WindMillID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
